<ion-header>
    <ion-toolbar>
        <ion-buttons routerlink="/details" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Compte Rendu</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
        <input type="hidden" value="idcommerciale">
        <input type="hidden" value="client">
        <ion-item>
            <ion-label>La Date: </ion-label>
            <ion-input type="Date" required [(ngModel)]="form.date" displayFormat="DD/MMM/YYYY" name="date" ngControl="date"></ion-input>
        </ion-item>
        <ion-list>
            <ion-item>
                <ion-col>
                    <ion-label>description:</ion-label>
                    <ion-textarea required [(ngModel)]="form.description" name="description" ngControl="description"></ion-textarea>
                </ion-col>
            </ion-item>
        </ion-list>
        <ion-button color="secondary" expand="block" ion-button type="submit">
            <ion-icon name="checkmark-circle" aria-setsize="large"></ion-icon>
        </ion-button>
    </form>
</ion-content>