<ion-content>

    <div class="padding">
        <div class="logo">
            <ion-icon color="light" name="contact"></ion-icon>
        </div>
        <form (ngSubmit)="logForm(form)" #form="ngForm">
            <ion-item>
                <ion-label color="light">Email</ion-label>
                <ion-input required color="light" type="email" [(ngModel)]="form.email" name="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="light">Mot de passe</ion-label>
                <ion-input required color="light" type="password" [(ngModel)]="form.password" name="password"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-button color="light" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
            </ion-item>
            <p color="red"> {{ message}}</p>
            <ion-button expand="block" ion-button type="submit">
                Connexion
            </ion-button>
        </form>
    </div>
</ion-content>