<ion-header>
    <ion-toolbar>
        <ion-buttons routerLink="/fiche" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Nouvelle commande</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <meta name="referrer" content="origin">

    <ion-list>
        <ion-item>
            <ion-list-header>choisir la personne </ion-list-header>
            <ion-select multiple="true" cancelText="Nah" okText="Okay!">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="olives">Black Olives</ion-select-option>
                <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
                <ion-select-option value="peppers">Green Peppers</ion-select-option>
                <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
                <ion-select-option value="onions">Onions</ion-select-option>
                <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
                <ion-select-option value="pineapple">Pineapple</ion-select-option>
                <ion-select-option value="sausage">Sausage</ion-select-option>
                <ion-select-option value="Spinach">Spinach</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list-header> articles: </ion-list-header>

<ion-card  *ngFor="let articles of (ArticleListe | async)">
    <ion-list >

        <ion-item>
            <ion-col>
                <img [src]="articles.image" alt="">
            </ion-col>
            <ion-col size="5">
                <p>{{ articles.nom}}</p>
            </ion-col>
            <ion-col class="prix">
                <p>10 </p>
            </ion-col>
            <ion-col class="Qtes">
                <ion-icon name="logo-euro"></ion-icon>
            </ion-col>
            <ion-col class="Qtes">
                <ion-list-header>Qtes:</ion-list-header>
                <ion-select multiple="true" cancelText="Nah" okText="Okay!">
                    <ion-select-option value="1">1</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-item>
    </ion-list>
</ion-card>
   

</ion-content>

<ion-footer>
    <ion-toolbar>

        <ion-item>
            <ion-note slot="end">
                <ion-icon routerLink="/fiche" color="primary" class="image" name="checkmark-circle"></ion-icon>
            </ion-note>

            <ion-note slot="start">
                <ion-icon routerLink="/fiche" color="danger" class="image" name="close-circle"></ion-icon>
            </ion-note>
        </ion-item>


    </ion-toolbar>
</ion-footer>