<ion-header>
    <ion-toolbar>
        <ion-buttons routerlink="/home" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Profil du Client</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Oryctolagus_cuniculus_Tasmania_2.jpg/290px-Oryctolagus_cuniculus_Tasmania_2.jpg">

    <ion-grid>
        <ion-row>
            <ion-list>
                <ion-item>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-label>Nom:</ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-label>{{ client.nom }}</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-label>Prénom:</ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-label>{{ client.prenom }}</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item class="adresse">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-label>Pays:</ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-label>{{ client.pays }}</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item class="adresse">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-label>code postal:</ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-label>{{ client.codePostal }}</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item class="adresse">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-label>Ville:</ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-label>{{ client.ville }}</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item class="adresse">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-label>adresse:</ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-label>{{ client.adresse }}</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item class="adresse" (click)="localisation()">
                    <ion-label>{{ client.adresse }}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-grid>
                        <ion-row>
                            <ion-col>

                                <ion-button color="secondary" (click)="call()">
                                    <ion-icon name="call"></ion-icon>
                                </ion-button>

                            </ion-col>
                            <ion-col>
                                <ion-button color="secondary">
                                    <ion-icon name="mail-open"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-item>
            </ion-list>

        </ion-row>
    </ion-grid>


    <ion-list>
        <ion-item-divider>
            <ion-label>
                Commande passées:
            </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let article of (commandes)" (click)="details(article.numero)">
            <p> numéro de commande: N°{{ article.numero }}</p>
            <p style="margin-left: 10em;"> commandé le {{ article.date }}
                <ion-icon name="md-calendar"></ion-icon>
            </p>
        </ion-item>
    </ion-list>

</ion-content>