.img {
    display: flex;
    height: 120px;
    width: 30%;
}

.button {
    display: flex;
}

.avatar {
    display: flex;
}

.commande {
    margin-left: 2em;
}

.item {
    display: flex;
}

.prix {
    margin-left: 8em;
}

.titel {
    text-align: center;
}

.image {
    padding: 2rem;
    margin-left: 5px;
}