<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-grid>
                <ion-row>

                    <ion-col>
                        <p> accueil </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>

    <div>
        <ion-title class="title">Bonjour {{ user.nom}} {{ user.prenom}}</ion-title>
        <ion-title class="title"> voici vos rendez-vous : </ion-title>
        <ion-title class="title">Aujourd'hui : </ion-title>
        <div *ngFor="let ListeRendezVous of (RendezVous)">
            <div *ngIf="ListeRendezVous.date_rendez_vous === dateAujourdhui">
                <ion-chip class="item">
                    <div class="avatar " (click)="donneesFiche(ListeRendezVous.jointure_client)">
                        <ion-avatar class="icon_fiche">
                            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                        </ion-avatar>
                        <ion-label class="name_avatar">{{ ListeRendezVous.jointure_client.nom}}</ion-label>
                    </div>
                    <div class="content_icons">
                        <button class="date" icon-only (click)="presentToastWithOptions(ListeRendezVous.date_rendez_vous,ListeRendezVous.heure_rendez_vous)">
                    <ion-icon class="date" name="calendar"></ion-icon>
                    </button>
                        <ion-icon routerLink="/localisation" class="fiche" name="pin"></ion-icon>
                    </div>
                </ion-chip>
            </div>
        </div>

    </div>
    <ion-title class="title">Demain : </ion-title>
    <div *ngFor="let ListeRendezVous of (RendezVous)">
        <div *ngIf="ListeRendezVous.date_rendez_vous == dateDemain">
            <ion-chip class="item">
                <div class="avatar " (click)="donneesFiche(ListeRendezVous.jointure_client)">
                    <ion-avatar class="icon_fiche">
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                    <ion-label class="name_avatar">{{ ListeRendezVous.jointure_client.nom}}</ion-label>
                </div>
                <div class="content_icons">
                    <button class="date" icon-only (click)="presentToastWithOptions(ListeRendezVous.date_rendez_vous,ListeRendezVous.heure_rendez_vous)">
                            <ion-icon class="date" name="calendar"></ion-icon>
                        </button>
                    <ion-icon routerLink="/localisation" class="fiche" name="pin"></ion-icon>
                </div>
            </ion-chip>
        </div>
    </div>




</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-icon (click)="presentPopover()" class="ajout" name="add-circle-outline"></ion-icon>
    </ion-toolbar>
</ion-footer>