<ion-header>
    <ion-toolbar>
        <ion-buttons routerlink="/fiche" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Détails</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-title class="title">{{ message}}</ion-title>
    <ion-list>
        <ion-item *ngFor="let article of (articles)">
            <ion-avatar slot="start">
                <img src="https://lh3.googleusercontent.com/proxy/eRMpEhIqf6sGLWadJaDkB-4Gning87tN-_VuOOEuKq94t6ZWzJWFVZkKzibNMqxz3Ql4JyvzBFFJTltD0Tz3K4yghxuJvVuOmGeh4I11B41b6e9MFGtdreGO4kMbtxOXP5XEIETU8ePsvYP1jsfuzVdLyzEnq-habjnMLuqTNWCLBw">
            </ion-avatar>
            <ion-label>
                <p>Nom de l'article:</p>
                <p>N°commmande: {{ article.numero}}</p>
                <p>prix: {{ article.prix}} </p>
                <p>quantité: 10 </p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col (click)="nouveaucompterendu();">
                    <ion-button color="secondary">
                        <ion-icon name="build"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col>
                    <p>Total: {{total}}
                        <ion-icon name="logo-euro"></ion-icon>
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-toolbar>
</ion-footer>